/* WorkoutList.css */
.WorkoutList {
    background: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  }
  
  .WorkoutList h4 {
    margin-bottom: 10px;
    font-weight: 600;
  }
  
  .searchbar {
    width: 98.3%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
  }
  
  .list_wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }